@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("fonts/Roboto.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("fonts/Roboto.ttf");
}
* {
  box-sizing: border-box;
  line-height: 1.5;
  color: #cacaca;
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}
section {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  main {
    align-items: normal;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 1240px) {
  .container {
    max-width: 1240px;
  }
}

.grid-header-6 {
  display: grid;
  grid-template-areas: "logo header header header header search";
  justify-content: normal;
}
@media (max-width: 768px) {
  .grid-header-6 {
    display: flex;
    flex-direction: column;
  }
}

.main-header {
  position: absolute;
  background-color: transparent;
  transform: translateY(24px);
}
@media (max-width: 768px) {
  .main-header {
    transform: translateY(25px);
  }
}

.main-menu {
  display: flex;
  grid-area: header;
  align-items: center;
  flex-wrap: wrap;
}
.main-menu a {
  margin-right: 24px;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main-menu {
    margin-bottom: 18px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.logo {
  display: flex;
  grid-area: logo;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.logo img {
  margin-right: 16px;
  max-width: 24px;
  max-height: 24px;
}
@media (max-width: 768px) {
  .logo {
    margin-bottom: 1rem;
  }
}

.search {
  display: flex;
  grid-area: search;
  align-items: center;
}
.search input {
  width: 100%;
  border-radius: 50px;
  border: 0px;
  background-color: #3C3B3D;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-transform: uppercase;
}

.main-bg {
  width: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.artist-bg {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
}

.bg-free {
  background-color: transparent;
}

.page-description {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-description .banner-text {
  text-align: center;
}
@media (max-width: 768px) {
  .page-description .banner-text {
    margin-top: 47px;
  }
}
.page-description .banner-text p {
  color: #FFFFFF;
  margin-bottom: 17px;
}
.page-description .banner-text h2 {
  color: #FFFFFF;
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .page-description .banner-text h2 {
    margin-bottom: 16px;
  }
}
.page-description .banner-text h1 {
  color: #FFFFFF;
}
.page-description .banner-form {
  display: flex;
  flex-direction: row;
  max-width: 570px;
  width: 100%;
  gap: 24px;
}
.page-description .banner-form input {
  background-color: transparent;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  margin-bottom: 24px;
  width: 100%;
}
.page-description .banner-form input::placeholder {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
}
.page-description button {
  width: 100%;
  max-width: 570px;
  padding: 20px 30px;
  border: 0;
  border-radius: 5px;
  background-color: #34C176;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .page-description .banner-form {
    flex-direction: column;
    gap: 0;
  }
  .page-description button {
    width: 100%;
  }
}

.page-pricing {
  padding-top: 100px;
  flex-direction: column;
}
.page-pricing h2 {
  text-align: center;
  margin-bottom: 48px;
  color: #FFFFFF;
}
.page-pricing .price-cnt {
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}
.page-pricing .price-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .page-pricing .price-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }
}
.page-pricing .price-grid .price-item {
  text-align: center;
  padding: 0 1.5rem;
  border-radius: 1rem;
  color: #FFFFFF;
  line-height: 1em;
}
.page-pricing .price-grid .price-item h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 1em;
  padding-bottom: 200px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .page-pricing .price-grid .price-item h3 {
    font-size: 16px;
  }
}
.page-pricing .price-grid .price-item .card-price {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 40px;
}
.page-pricing .price-grid .price-item .card-price .price {
  font-size: 64px;
  padding-right: 1rem;
  line-height: 1;
}
.page-pricing .price-grid .price-item .card-price .currency {
  font-size: 32px;
}
.page-pricing .price-grid .price-item .btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 64px;
}
.page-pricing .price-grid .price-item .price-footer {
  font-size: 12.8px;
  margin-bottom: 64px;
}
.page-pricing .price-grid .bg-1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}
.page-pricing .price-grid .bg-2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}
.page-pricing .price-grid .bg-3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}

.page-news {
  padding-top: 100px;
}
.page-news h2 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 48px;
}
.page-news .news-block {
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .page-news .news-block {
    padding-bottom: 0;
  }
  .page-news .news-block .ord-1 {
    order: 2;
  }
  .page-news .news-block .ord-2 {
    order: 1;
  }
}
.page-news .news-block .news-item {
  display: flex;
  margin-bottom: 65px;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item {
    flex-direction: column;
  }
}
.page-news .news-block .news-item .img-left {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item .img-left {
    margin-left: 0;
    margin-bottom: 50px;
  }
}
.page-news .news-block .news-item .img-right {
  margin-right: 50px;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item .img-right {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.page-news .news-block .news-item .news-item-info .news-body h3 {
  font-size: 30px;
  margin-bottom: 1em;
  color: #FFFFFF;
  font-weight: 400;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item .news-item-info .news-body h3 {
    font-size: 16px;
  }
}
.page-news .news-block .news-item .news-item-info .news-body p {
  margin-bottom: 24px;
}
.page-news .news-block .news-item .news-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-news .news-block .news-item .news-footer .news-author {
  display: flex;
  margin-bottom: 48px;
  align-items: center;
  font-size: 12px;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item .news-footer .news-author {
    font-size: 12.8px;
  }
}
.page-news .news-block .news-item .news-footer .news-author img {
  margin-right: 1em;
  width: 19px;
  height: 19px;
}
.page-news .news-block .news-item .news-footer .news-author a {
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #F89202;
}
.page-news .news-block .news-item .news-footer .news-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 30px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 12px;
}
@media (max-width: 768px) {
  .page-news .news-block .news-item .news-footer .news-btn {
    font-size: 12.8px;
  }
}
.page-news .news-block .news-item-last {
  margin-bottom: 0px;
}

.page-app {
  padding-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}
.page-app h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 48px;
}
.page-app img {
  margin-right: 123px;
}
@media (max-width: 768px) {
  .page-app img {
    padding-bottom: 16px;
    margin: 0;
  }
}
.page-app .page-app-block {
  display: flex;
}
@media (max-width: 768px) {
  .page-app .page-app-block {
    flex-direction: column-reverse;
  }
}
.page-app .page-app-block .page-app-content {
  margin-right: 143px;
}
@media (max-width: 768px) {
  .page-app .page-app-block .page-app-content {
    margin-right: 0;
  }
}
.page-app .page-app-block .page-app-content .page-app-text {
  margin-bottom: 16px;
}
.page-app .page-app-block .page-app-content .page-app-text .mg-btm-16 {
  margin-bottom: 16px;
}
.page-app .page-app-block .page-app-content .btn-app {
  border: 0;
  display: inline-block;
  text-decoration: none;
  padding: 16px 40px;
  border-radius: 32px;
  font-size: 12.8px;
  background-color: #95390C;
  color: #FFFFFF;
}

.page-artist-description {
  margin-top: 200px;
  margin-bottom: 200px;
}
.page-artist-description .banner-artist-text h1 {
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.page-artist-description .banner-artist-text p {
  color: #FFFFFF;
  margin-bottom: 2em;
}
.page-artist-description .banner-art-btn-block {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .page-artist-description .banner-art-btn-block {
    flex-direction: column;
  }
}
.page-artist-description .banner-art-btn-block .btn-purple {
  background-color: Purple;
}
.page-artist-description .banner-art-btn-block .btn-brown {
  background-color: #95390C;
}
.page-artist-description .banner-art-btn-block .banner-art-btn {
  color: #FFFFFF;
  display: flex;
  width: 200px;
  padding: 20px 30px;
  font-size: 12.8px;
  border: 0;
  border-radius: 5px;
}
.page-artist-description .banner-art-btn-block .banner-art-btn img {
  filter: invert(1);
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.page-popular-track {
  padding-top: 100px;
}
.page-popular-track h2 {
  margin-bottom: 48px;
  color: #FFFFFF;
}
.page-popular-track .popular-track-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 50px;
}
@media (max-width: 768px) {
  .page-popular-track .popular-track-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
  }
}
.page-popular-track .popular-track-grid img {
  width: 55px;
  height: 55px;
}
.page-popular-track .popular-track-grid h3 {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 700;
  color: #FFFFFF;
}
.page-popular-track .popular-track-grid .popular-track-item {
  display: flex;
  align-items: center;
}
.page-popular-track .popular-track-grid .popular-track-item p {
  color: #E0E0E0;
}
.page-popular-track .popular-track-grid .popular-track-item .popular-track-time {
  display: flex;
  color: #E0E0E0;
}
.page-popular-track .popular-track-grid .popular-track-item .popular-track-info {
  width: 100%;
  margin-left: 15px;
}

.page-discography {
  padding-top: 100px;
}
.page-discography h2 {
  margin-bottom: 48px;
  color: #FFFFFF;
}
.page-discography .discography-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}
@media (max-width: 768px) {
  .page-discography .discography-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.page-discography .discography-grid img {
  width: 250px;
  height: 250px;
}
@media (max-width: 768px) {
  .page-discography .discography-grid img {
    width: 137px;
    height: 137px;
  }
}
.page-discography .discography-grid h3 {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}
.page-discography .discography-grid p {
  color: #E0E0E0;
}

.page-similar {
  padding-top: 100px;
  margin-bottom: 100px;
}
.page-similar h2 {
  margin-bottom: 48px;
  color: #FFFFFF;
}
.page-similar .similar-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 25px;
}
@media (max-width: 768px) {
  .page-similar .similar-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.page-similar .similar-grid img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .page-similar .similar-grid img {
    width: 137px;
    height: 137px;
  }
}
.page-similar .similar-grid h3 {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: capitalize;
}
.page-similar .similar-grid p {
  color: #E0E0E0;
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-grid {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px) {
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
}
.footer-grid h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .footer-grid h2 {
    margin-top: 30px;
  }
}
.footer-grid a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
}
.footer-grid .footer-grid-item {
  display: flex;
  flex-direction: column;
}
.footer-grid img {
  margin-right: 24px;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-2 {
  width: 100%;
  border-top: 1px solid #fff;
  display: flex;
  justify-content: center;
}
.footer-2 .footer-2-menu {
  width: 1200px;
  margin-top: 40px;
  margin-bottom: 2em;
}
@media (max-width: 768px) {
  .footer-2 .footer-2-menu {
    display: flex;
    flex-direction: column;
  }
}
.footer-2 .footer-2-menu a {
  margin-right: 1em;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer-2 .footer-2-menu a {
    margin-right: 0;
    margin-bottom: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
