h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

header {
    height: 750px;
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    header {
        height: 851px;
    }
}
section {
    width: 1200px;
}
@media (max-width: 1239px) {
    section {
       width: 100%;
    }
}
