.bg-free {
  background-color: transparent;
}

.page-description {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
    & .banner-text {
      text-align: center;
      & p {
        color: #FFFFFF;
        margin-bottom: 17px;
      }
      & h2 {
        color: #FFFFFF;
        margin-bottom: 31px;
      }
      & h1 {
        color: #FFFFFF;
      }
  }
    & .banner-form{
      display: flex;
      flex-direction: row;
      max-width: 570px;
      width: 100%;
      gap: 24px;
      & input {
        background-color: transparent;
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        margin-bottom: 1.5rem ;
        border: 2px solid #cacaca;
        border-radius: 3px;
        margin-bottom: 24px;
        width: 100%;
        &::placeholder {
          color: #FFFFFF;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
    & button{
      width: 100%;
      max-width: 570px;
      padding: 20px 30px;
      border: 0;
      border-radius: 5px;
      background-color: #34C176;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  @media (max-width: 768px) {
      & .banner-form{
      flex-direction: column;
      gap: 0;
      }
      & button{
        width: 100%;
      }
  }
}

.page-pricing {
  padding-top: 100px;
  & h2 {
      text-align: center;
      margin-bottom: 1em;
      color: #FFFFFF;
  }
  & .price-cnt {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
  }

  & .price-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        }

    & .price-item {
      text-align: center;
      padding: 0 1.5rem;
      border-radius: 1rem;
      color: #FFFFFF;
      line-height: 1em;
      margin-bottom: 64px;

      & h3 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 1em;
        padding-bottom: 200px;
        color: #FFFFFF;
        text-transform: uppercase;
      }

      & .card-price {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 40px;
      
        & .price {
          font-size: 64px;
          padding-right: 1rem;

        }
        & .currency {
          font-size: 32px;
          line-height: 250%;
        }
      }
      & .btn {
        width: 100%;
        padding: 20px 30px;
        border-radius: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 64px;
      }
      & .price-footer {
        font-size: 12.8px;
        margin-bottom: 64px;
      }
    }
    & .bg-1 {
      background-image: url("../images/subscribe_1.png");
      background-position: center;
      background-size: cover;
    }

    & .bg-2 {
      background-image: url("../images/subscribe_2.png");
      background-position: center;
      background-size: cover;      
    }  

    & .bg-3 {
      background-image: url("../images/subscribe_3.png");
      background-position: center;
      background-size: cover;      
    }
  }
}

.page-news {
  padding-top: 100px;

  & h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 48px;

  }

  & .news-block{
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
        .ord-1 {
          order: 2;
        }

        .ord-2 {
          order: 1;
        }
        } 
      
    & .news-item {
      display: flex;
      margin-bottom: 65px;

      @media (max-width: 768px) {
          flex-direction: column;
        } 

      & .img-left {
        margin-left: 50px;

        @media (max-width: 768px) {
          margin-left: 0;
          margin-bottom: 50px;
        }   
      }

      & .img-right {
        margin-right: 50px;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 50px;
        }        
      }

      & .news-item-info {

        & .news-body {

          & h3 {
          font-size: 30px;
          margin-bottom: 1em;
          color: #FFFFFF;
          
            @media (max-width: 768px) {
              font-size: 16px;
            }   
          }
          & p {
          margin-bottom: 24px;
          }
        }
      }
      
      & .news-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & .news-author {
          display: flex;
          margin-bottom: 48px;

          & img {
            margin-right: 1em;
            width: 19px;
            height: 19px;
          }
          
          & a {
            padding-right: 1em;
            text-decoration: none;
            text-transform: uppercase;
            color: #F89202;
          }
        }

        & .news-btn {
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          padding: 16px 30px;
          color: #FFFFFF;
          border: 1px solid #FFFFFF;
          border-radius: 5px;
        }
      }
    }
    & .news-item-last {
      margin-bottom: 0px;
    }
  }
}

.page-app {
  padding-top: 100px;
  padding-bottom: 100px;

  & h2 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 48px;
  }

  & .page-app-block{
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

  & .page-app-content {
    margin-right: 144px;

    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
    & .page-app-text {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    & .btn-app {
      display: inline-block;
      text-decoration: none;
      padding: 16px 40px;
      border-radius: 32px;
      font-size: 12.8px;
      background-color: #95390C;
      color: #FFFFFF;
    }
  }
  }
}

.page-artist-description {
  margin-top: 200px;
  margin-bottom: 200px;

  & .banner-artist-text {

    & h1 {
      color: #FFFFFF;
      margin-bottom: 1rem;
    }

    & p {
      color: #FFFFFF;
      margin-bottom: 2em;
    }
  }
  & .banner-art-btn-block {
    display: flex;
    gap: 1.5rem;

      @media (max-width: 768px) {
            flex-direction: column;
          }

      & .btn-purple {
        background-color: Purple;
      }
      & .btn-brown {
        background-color: #95390C;
      }

    & .banner-art-btn {
      color: #FFFFFF;
      display: flex;
      width: 200px;
      padding: 20px 30px;
      font-size: 12.8px;
      border: 0;
      border-radius: 5px;

      & img {
      filter: invert(1);
      margin-right: 16px;
      width: 20px;
      height: 20px;
      }
    }
  }
}

.page-popular-track {
  padding-top: 100px;

  & h2 {
    margin-bottom: 48px;
    color: #FFFFFF;
  }
  & .popular-track-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 50px;

    @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: none;
          }

    & img {
      width: 55px;
      height: 55px;
    }

    & h3 {
      font-size: 12.8px;
      line-height: 19.2px;
      font-weight: 700;
      color: #FFFFFF;
    }

    & .popular-track-item {
      display: flex;
      align-items: center;

      & p {
        color: #E0E0E0;
      }

      & .popular-track-time {
       display: flex;
       color: #E0E0E0;
      }

      & .popular-track-info{
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}

.page-discography {
  padding-top: 100px;

  & h2 {
    margin-bottom: 48px;
    color: #FFFFFF;
  }

  & .discography-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
          }


    & img {
      width: 250px;
      height: 250px;

        @media (max-width: 768px) {
          width: 137px;
          height: 137px;
        }
    }

    & h3 {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      text-transform: capitalize;
    }

    & p {
      color: #E0E0E0;
    }
  }
}

.page-similar {
  padding-top: 100px;
  margin-bottom: 100px;

  & h2 {
    margin-bottom: 48px;
    color: #FFFFFF;
  }

  & .similar-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 25px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
          }


    & img {
      width: 250px;
      height: 250px;
      border-radius: 50%;

        @media (max-width: 768px) {
          width: 137px;
          height: 137px;
        }
    }

    & h3 {
      color: #FFFFFF;
      font-size: 18px;
      line-height: 27px;
      font-weight: 700;
      text-transform: capitalize;
    }

    & p {
      color: #E0E0E0;
    }
  }
}