
.grid-header-6 {
display: grid;
grid-template-areas: "logo header header header header search"
//                       "banner  banner  banner   banner   banner   banner"
//                       "subscription-1 subscription-1 subscription-2 subscription-2 subscription-3 subscription-3"
//                       "news-1 news-1 news-1 news-2 news-2 news-2"
//                       "news-2 news-2 news-2 news-1 news-1 news-1"
//                       "mobile-app mobile-app mobile-app mobile-app mobile-app mobile-app"
//                       "footer footer footer footer footer footer";
}

.main-header {
  position: absolute;
  transform: translateY(24px);
}

.main-menu {
  display: flex;
  grid-area: header;
  align-items: center;
  & a {
    margin-right: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.logo {
  display: flex;
  grid-area: logo; 
  align-items: center;
  text-transform: uppercase;
  & img {
      margin-right: 16px;
      max-width: 24px;
      max-height: 24px;
  }
}

.search {
  display: flex;
  grid-area: search;
  align-items: center;
  & input {
    width: 100%;
    border-radius: 50px;
    border: 0px;
    background-color: #3C3B3D;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-transform: uppercase;
  }
}