.bg-free {
  background-color: transparent;
}

.page-description {
  margin: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
    & .banner-text {
      text-align: center;
      & p {
        color: #FFFFFF;
        margin-bottom: 17px;
      }
      & h2 {
        color: #FFFFFF;
        margin-bottom: 31px;
      }
      & h1 {
        color: #FFFFFF;
      }
  }
    & .banner-form{
      display: flex;
      flex-direction: row;
      max-width: 570px;
      width: 100%;
      gap: 24px;
      & input {
        background-color: transparent;
        min-width: 270px;
        min-height: 50px;
        padding-left: 20px;
        margin-bottom: 1.5rem ;
        border: 2px solid #cacaca;
        border-radius: 3px;
        margin-bottom: 24px;
        width: 100%;
        &::placeholder {
          color: #FFFFFF;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
    & button{
      width: 100%;
      max-width: 570px;
      padding: 20px 30px;
      border-radius: 5px;
      background-color: #34C176;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  @media (max-width: 768px) {
      & .banner-form{
      flex-direction: column;
      gap: 0;
      }
      & button{
        width: 100%;
      }
  }
}

.page-pricing {
  padding-top: 100px;
  & h2 {
      text-align: center;
      margin-bottom: 1em;
      color: #FFFFFF;
  }
  & .price-cnt {
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
  }

  & .price-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        }

    & .price-item {
      text-align: center;
      padding: 0 1.5rem;
      border-radius: 1rem;
      color: #FFFFFF;
      line-height: 1em;
      margin-bottom: 64px;

      & h3 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 1em;
        padding-bottom: 200px;
        color: #FFFFFF;
        text-transform: uppercase;
      }

      & .card-price {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 40px;
      
        & .price {
          font-size: 64px;
          padding-right: 1rem;

        }
        & .currency {
          font-size: 32px;
          line-height: 250%;
        }
      }
      & .btn {
        width: 100%;
        padding: 20px 30px;
        border-radius: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        font-size: 16px;
        margin-bottom: 64px;
      }
      & .price-footer {
        font-size: 12.8px;
        margin-bottom: 64px;
      }
    }
    & .bg-1 {
      background-image: url("/src/images/subscribe_1.png");
      background-position: center;
      background-size: cover;
    }

    & .bg-2 {
      background-image: url("/src/images/subscribe_2.png");
      background-position: center;
      background-size: cover;      
    }  

    & .bg-3 {
      background-image: url("/src/images/subscribe_3.png");
      background-position: center;
      background-size: cover;      
    }
  }
}

.page-news {
  padding-top: 100px;

  & .news-block{
    display: flex;
    flex-direction: column;

    & .news-item {
      display: flex;
      margin-bottom: 65px;

      @media (max-width: 768px) {
          flex-direction: column;
        } 

      & .img-left {
        margin-left: 50px;

        @media (max-width: 768px) {
          margin-left: 0;
          margin-bottom: 50px;
        }   
      }

      & .img-right {
        margin-right: 50px;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-bottom: 50px;
        }        
      }

      & .news-item-info {

        & h3 {
          font-size: 30px;
          margin-bottom: 1em;
        }
        & p {
          font-size: 16px;
        }
      }

    }
  }
}